 /* Element Selector - Selects every instance of the desired element  */

 /* h1 {
    color:blueviolet;
}

p {
    color: deeppink;
} */

 /* ID selector - Select a specific element that matches the specified */
 /* Takes precident over element and class selectors */
 /* #p1 {
    background-color: aquamarine;
    color: blue;
} */
 /* Class Selector - Selects all elements with the specified classname */
 /* .paragraphs {
    background-color: crimson;
    color:white;
 }  */



 /* h1,
h2,
p {
    background-color: chartreuse;
    color:white;

} */

 * {
     font-family: 'Roboto', sans-serif;

 }

 h1,
 h2 {
     text-align: center;
 }

 h1 {
     background-color: bisque;
     color: blue;
     border: 5px solid burlywood;
     padding: 10px;
     margin: 100px;
 }